{% extends 'Allops/layout.html' %}

{% block body %}
<style>
    body {
        background-image: url("/static/Allops/images/profile.jpg")
    }
</style>
<div class="hr"></div>
<br>

<center><i class="fas fa-user-circle" style="font-size: 100px;"></i></center>
<br><center><h5 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;text-align: center;">{{ request.user}}</h5></center>
<br>
<!--User Profile Options-->
<div class="profile-options">
    <button class="btn"><a href="{% url 'mails' %}">Configure Mails</a></button><br><br>
    <button class="btn"><a href="{% url 'share' %}">Share More</a></button><br><br>
    <button class="btn"><a href="{% url 'signout' %}">Sign Out</a></button><br>
</div>
<br>
<center>
<h2>Opportunities By You</h2><br>
<div class="hr"></div><br>
</center>
<!--Filters-->
<div id="filter-panel">
    <div class="filter-dropdown">
        <!--Interest filter-->
        <button class="btn"
            style="padding:2px 12px 2px 12px;font-size:20px;margin-left: -26.041666666666668vw;margin-bottom: 5px;">Filters <i class="arrow-down">
            </i></button>
        <div class="blur-card" id="interest-blur" style="filter: blur(2px);z-index: 2 !important;height:  84.125vw;width: 22.833333333333332vw;padding: 15px;margin-top: 3vw;margin-left: -26.041666666666668vw;">
        </div>
        <div class="visible-card" id="interest-filter" style="margin-top:  3.2552083333333335vw;margin-left: -26.041666666666668vw;">
            <form method="GET" id="interest-form" style="padding: 1.4322916666666667vw;font-size: 2.0833333333333335vw;text-align: left;">
                {{ filter.form.interest }}
            </form>
        </div>
    </div>
    <!--Search filter-->
    <i class="fa fa-search" style="margin: 8px 10px 0 0;font-size: 24px;"></i>
    <form method="GET" id="search-form">
        {{ filter.form.title }}
    </form>
</div>
<!--Opportunities by user-->
{% for item in items %}
<div class="item-div">
    <a href="{% url 'activity' item.id %}">
        <div class="item-content">
            <!--Opportunity front view-->
            {% if item.featured == True %}
            <div class="item-front" style="background-image: url('/static/Allops/images/featured-card.jpg');background-size: cover;">
            {% else %}
            <div class="item-front">
            {% endif %}
                <img src="{{ item.image }}" alt="" class="item-image">
                {% if item.featured == True %}
                <img src="/static/Allops/images/bookmark.png" alt="" style="height: 50px;width:40px;position: absolute;margin-left: -50px;transform: translateZ(35px);">
                {% endif %}
                <br><br>
                <h5 class="item-head">
                    {{ item.head }}
                </h5>
                <br>
                <h6 class="item-dates"> <i class='far fa-calendar-alt'></i> {{ item.start }}</h6>
                <br>
                <p class="item-tag">{{ item.interest }}</p>
            </div>
            <!--Opportunity back view-->
            <div class="item-back">
                <p class="item-desc">"{{ item.desc }}"</p>
                <!--Save and Share buttons-->
                {% if request.user.is_authenticated %}
                {% for save in saves %}
                {% if save.activity.id == item.id %}
                <span class="item-save">
                    <div class="fas fa-bookmark" data-id="{{ item.id }}"></div>
                </span>
                {% else %}
                <span class="item-save">
                    <div class="far fa-bookmark fa-inverse" data-id="{{ item.id }}"></div>
                </span>
                {% endif %}
                {% endfor %}
                <span class="item-save">
                    <div class="far fa-bookmark fa-inverse" data-id="{{ item.id }}"></div>
                </span>
                <span class="item-share">
                    <div class="fa fa-share-alt" data-id="{{ item.id }}"></div><br>
                </span>
                {% endif %}
            </div>
        </div>
    </a>
</div>
{% endfor %}


{% endblock body %}