{% extends "Allops/layout.html" %}

{% block body %}
{% if message %}
{{ message }}
{% endif %}
<div class="hr"></div><br><br>
<div class="blur-card" style="height: 300px; width: 500px; margin-left: 32.807291666666664vw;" id="form-blur"></div>
<div class="visible-card" style="margin-left: 37.807291666666664vw;" id="form-visible">
    <center><br><br>
        <h3>Academic Email Validation</h3><br>
    <form action="{% url 'validate' %}" method="post">
        {% csrf_token %}<br>
        {{ form.mail_id }}<br><br><br>
        <input class="btn btn-primary text-nowrap text-uppercase fw-bold text-end" type="submit" value="Check">
    </form>
</center>
</div>
</div>
{% endblock %}